<blockquote cite="https://www.linkedin.com/in/dzeisler/">
  <p>
    Dustin and I have been working closely for the last year and a half and it been a great pleasure working with him. Dustin has shown leadership qualities in many complex projects all while making them look easy by providing a solid and straightforward path. He has shown himself to be an expert in Renew Financial's PACE underwriting system as well as a great Software developer completing various complicated projects. I have learned a lot about Ruby, Underwriting, Decisioning, and tech design through him. Whenever I had a question, Dustin was always a great resource and showed me different ways to approach the problem.
  </p>
    <footer>— <a href="https://www.linkedin.com/in/krishan-sharma-b57a5665/">Krishan Sharma</a></footer>
</blockquote>

<blockquote cite="https://www.linkedin.com/in/dzeisler/">
  <p>
    Dustin is a true professional software developer. His natural curiosity, attention to detail, ability to write clean code, insistence on writing testable code, and positive attitude combine to make him a teammate that is a pleasure to work with.

    Dustin's passion for software development is also evident outside the workplace. He actively develops and makes available open source Ruby gems on Github, and he leads a Ruby book club in Portland.

    I learned something about either Ruby, Javascript, React or test driven development every time we paired, and I hope to have the opportunity to work with him again in the future.
  </p>
  <footer>— <a href="https://www.linkedin.com/in/marc-poris-65862344">Marc Poris</a></footer>
</blockquote>

<blockquote cite="https://www.linkedin.com/in/dzeisler/">
  <p>
    Dustin is an excellent developer with technical chops to deliver on any feature set or stack level. He is fun to work with and excellent at simplifying complex problems to make them easily explainable to non-technical people.
  </p>
  <footer>— <a href="https://www.linkedin.com/in/webdevlasse">Lasse Christiansen</a></footer>
</blockquote>

<blockquote cite="https://www.linkedin.com/in/dzeisler/">
  <p>
    Dustin is an exceptional developer who I offer my highest recommendation. While at SpendWell, he worked on several greenfield projects of significant complexity. His insight into design patterns and testing practices produced an architecture that is readily extendable, and a code base that embodies precision and clarity. Dustin took initiative to implement new test tooling that accelerated the entire teams velocity. He is also open minded about new technologies and readily learned several javascript tools in a short time. Finally, he is certifiably nice guy who is enjoyable to pair with.
  </p>
  <footer>— <a href="https://www.linkedin.com/in/dstocker">David Stocker</a></footer>
</blockquote>
